:root {
    --index-title-indent: 1.5dvw;
    --index-text-font-size: 14px;
    --index-links-gap: 20px;
    --index-links-margin: 20px;
    --index-each-link-font-size: 16px;
    --index-bottom-date-font-size: 30px;
    --index-columns-blue-color: #9DD5FF;
    --index-columns-each-column-width: 0.3%;
    --index-columns-each-wide-column-width: 0.6%;
    --index-columns-column-width-ratio: 2;
    --index-links-button-gap: 10px;
}

.index-text-wrapper {
    font-size: var(--index-text-font-size);
    text-align: center;
    margin: calc(var(--index-title-indent) * 2) 0;
}

.index-title-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    min-height: fit-content;
    width: calc(100dvw + 2 * var(--index-title-indent));
    min-width: calc(100dvw + 2 * var(--index-title-indent));
    margin-left: calc(-1 * var(--page-horizontal-padding) - var(--index-title-indent));
    margin-top: auto;
}

.index-title-wrapper svg {
    width: 100%;
    min-width: 100%;
}

.index-title-wrapper svg:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: difference;
}

.index-links-wrapper {
    display: flex;
    gap: var(--index-links-gap);
    margin: var(--index-links-margin) 0;
}

.index-links-wrapper a {
    text-decoration: none;
    font-size: var(--index-each-link-font-size);
}

.index-links-button {
    display: flex;
    gap: var(--index-links-button-gap);
    padding: var(--index-links-button-gap) calc(var(--index-links-button-gap) * 1.5);
    border: 1px solid var(--text-color);
}

.index-links-button::after {
    content: '';
    width: var(--index-each-link-font-size);
    min-width: var(--index-each-link-font-size);
    background-image: url('/img/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.index-links-button:hover::after {
    transform: translate(9%, -4%);
}

.index-bottom-wrapper {
    display: flex;
    margin-top: auto;
    gap: var(--index-links-gap);
    justify-content: space-between;
    align-items: end;
}

.index-bottom-wrapper a {
    text-decoration: none;
    font-size: var(--index-each-link-font-size);
    margin-bottom: calc(var(--index-each-link-font-size) / 2);
}

.index-bottom-date {
    display: flex;
    font-size: var(--index-bottom-date-font-size);
    text-align: end;
    margin-top: auto;
    margin-left: auto;
}

.index-bottom-date-responsive {
    display: none;
    font-size: var(--index-bottom-date-font-size);
    text-align: end;
}

.index-links-wrapper-responsive {
    display: none;
    gap: var(--index-links-gap);
    margin-left: auto;
}

.index-bottom-links-wrapper-responsive {
    display: flex;
    gap: var(--index-links-gap);
}

@media only screen and (min-width: 800px) {
    :root {
        --index-text-font-size: 20px;
    }
    .index-bottom-date {
        display: none;
    }
    .index-bottom-date-responsive {
        display: flex;
    }
    .index-links-wrapper-responsive {
        display: flex;
    }
    .index-bottom-links-wrapper-responsive {
        display: none;
    }
}

@media only screen and (min-width: 440px) {
    :root {
        /* --index-each-link-font-size: 16px; */
        --index-bottom-date-font-size: 36px;
        --index-text-font-size: 16px;
    }
}

@media only screen and (min-width: 400px) {
    :root {
        /* --index-each-link-font-size: 14px; */
    }
}
