:root {
    --index-title-indent: 1.5dvw;
    --index-text-font-size: 20px;
    --index-links-gap: 20px;
    --index-links-margin: 20px;
    --index-each-link-font-size: 16px;
    --index-bottom-date-font-size: 36px;
    --index-columns-blue-color: #9DD5FF;
    --index-columns-each-column-width: 0.4%;
    --index-columns-each-wide-column-width: 0.55%;
    --index-columns-column-width-ratio: 0.55 / 0.4;
}

.index-text-wrapper {
    font-size: var(--index-text-font-size);
    text-align: center;
    margin: calc(var(--index-title-indent) * 2) 0;
}

.index-title-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    min-height: fit-content;
    width: calc(100dvw + 2 * var(--index-title-indent));
    min-width: calc(100dvw + 2 * var(--index-title-indent));
    margin-left: calc(-1 * var(--page-horizontal-padding) - var(--index-title-indent));
}

.index-title-wrapper svg {
    width: 100%;
    min-width: 100%;
}

.index-title-wrapper svg:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

.index-title-wrapper svg:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
}

.index-links-wrapper {
    display: flex;
    gap: var(--index-links-gap);
    margin: var(--index-links-margin) 0;
}

.index-links-wrapper a {
    text-decoration: none;
    font-size: var(--index-each-link-font-size);
}

.index-bottom-wrapper {
    display: flex;
    margin-top: auto;
    gap: var(--index-links-gap);
    justify-content: space-between;
    align-items: end;
}

.index-bottom-wrapper a {
    text-decoration: none;
    font-size: var(--index-each-link-font-size);
    margin-bottom: calc(var(--index-each-link-font-size) / 2);
}

.index-bottom-date {
    font-size: var(--index-bottom-date-font-size);
}

.index-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.index-image-top-row-wrapper, .index-image-bottom-row-wrapper {
    display: flex;
    width: 100%;
    min-width: 100%;
    height: 50%;
    min-height: 50%;
}

.index-image-each-part {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background: #161E24;
}
.index-image-top-row-wrapper .index-image-each-part:nth-child(1) {
    background-image: linear-gradient(-140deg, rgba(22, 30, 36, 1) 28%, rgba(95, 180, 250, 1) 60%, rgba(192, 223, 250, 1) 80%);
}
.index-image-top-row-wrapper .index-image-each-part:nth-child(2) {
    background-image: linear-gradient(140deg, rgba(22, 30, 36, 1) 28%, rgba(95, 180, 250, 1) 60%, rgba(192, 223, 250, 1) 80%);
}
.index-image-bottom-row-wrapper .index-image-each-part:nth-child(1) {
    background-image: linear-gradient(-40deg, rgba(22, 30, 36, 1) 28%, rgba(95, 180, 250, 1) 60%, rgba(192, 223, 250, 1) 80%);
}
.index-image-bottom-row-wrapper .index-image-each-part:nth-child(2) {
    background-image: linear-gradient(40deg, rgba(22, 30, 36, 1) 28%, rgba(95, 180, 250, 1) 60%, rgba(192, 223, 250, 1) 80%);
}

.index-columns-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: calc(var(--index-columns-each-wide-column-width-column-width) * 2);
}

.index-columns-each-column {
    position: relative;
    display: flex;
    background: var(--index-columns-blue-color);
    background: linear-gradient(to bottom, transparent 0%, #62B4F8 45%, #62B4F8 55%, transparent 100%);
    width: var(--index-columns-each-column-width);
    height: 100%;
}
.index-columns-each-column::before, .index-columns-each-column::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(var(--index-columns-each-column-width) * (var(--index-columns-each-wide-column-width) / var(--index-columns-each-column-width)));
}
.index-columns-each-column::before {
    left: 100%;
    background: var(--index-columns-blue-color);
    opacity: 0;
}
.index-columns-each-column::after {
    left: 200%;
    background: var(--index-columns-blue-color);
    opacity: 0.2;
}
.index-columns-middle-column {
    background: var(--index-columns-blue-color);
    background: linear-gradient(to bottom, transparent 0%, #62B4F8 45%, #62B4F8 55%, transparent 100%);
    width: var(--index-columns-each-column-width);
    height: 100%;
}

.index-columns-each-column-reverse::before {
    right: 100% !important;
    left: unset !important;
}
.index-columns-each-column-reverse::after {
    right: 200% !important;
    left: unset !important;
}