<a
  href="https://lu.ma/cryptistanbul"
  target="_blank"
  class="group relative flex h-fit w-fit min-w-fit items-center overflow-hidden text-lg text-black"
>
  <div
    class="absolute flex aspect-square h-full w-9 origin-left scale-0 items-center justify-center rounded-full bg-[#ABDAFF] transition-transform duration-300 ease-in-out group-hover:scale-100"
  >
    <img src="/arrow-black.svg" alt="arrow" class="h-4.5 w-auto" />
  </div>
  <span
    class="flex h-9 min-w-fit items-center justify-center rounded-full bg-[#ABDAFF] px-7 whitespace-nowrap transition-transform duration-300 ease-in-out group-hover:translate-x-9"
  >Get Tickets</span>
  <div
    class="flex aspect-square h-full w-9 origin-right scale-100 items-center justify-center rounded-full bg-[#ABDAFF] transition-transform duration-300 ease-in-out group-hover:scale-0"
  >
    <img src="/arrow-black.svg" alt="arrow" class="h-4.5 w-auto" />
  </div>
</a>