<footer class="flex flex-col gap-8 p-12 max-sm:p-4 font-[Space_Mono]">
  <h2 class="text-5xl font-light text-white leading-[1.2] max-w-180 max-md:text-2xl max-md:max-w-full">CONTACT OUR TEAM, BE A PART OF CRYPTIST'25.</h2>
  <div class="flex gap-8 justify-between text-[#D9D9D9] max-lg:flex-col">
    <div class="flex flex-col gap-2 justify-end">
      <a href="mailto:mete@node101.io" class="w-fit">
        <h3 class="text-xl max-lg:text-sm animate-cipher-on-hover">METE KORAY GERGİN</h3>
        <h2 class="text-4xl max-lg:text-lg animate-cipher-on-hover">mete@node101.io</h2>
      </a>
      <a href="mailto:cryptistanbul@gmail.com" class="w-fit">
        <h3 class="text-xl max-lg:text-sm mt-6 animate-cipher-on-hover">EMAIL</h3>
        <h2 class="text-4xl max-lg:text-lg animate-cipher-on-hover">cryptistanbul@gmail.com</h2>
      </a>
    </div>
    <a href="https://maps.app.goo.gl/JHpae7HTWeSSUWZbA" target="_blank" class="max-w-[380px] gap-12 flex flex-col max-lg:max-w-full max-lg:gap-4">
      <h2 class="text-3xl leading-[1.2] animate-cipher-on-hover">YENİ RAMİ MAHALLESİ, RAMİ KIŞLA CD. 98/1, 34055 EYÜPSULTAN İSTANBUL</h2>
      <iframe src="https://snazzymaps.com/embed/721978" class="border-none w-full h-[330px] pointer-events-none"></iframe>
    </a>
  </div>
</footer>