<footer class="flex flex-col gap-8 p-12 font-[Space_Mono] max-sm:p-4 bg-[#E3F4FE] text-[#171717]">
  <div class="flex justify-between gap-8 max-lg:flex-col">
    <div class="flex flex-col justify-between gap-2 w-full">
      <h2 class="max-w-180 text-[40px] leading-[1.2] font-light max-md:max-w-full max-md:text-2xl mb-16 max-sm:mb-8 mt-auto">CONTACT OUR TEAM, BE A PART OF CRYPTIST'25.</h2>
      <div class="flex gap-4 justify-between w-full max-sm:flex-col max-sm:gap-8">
        <div href="mailto:mete@node101.io" class="w-1/2 flex flex-col gap-2">
          <h3 class="text-xl max-lg:text-sm">METE KORAY GERGİN</h3>
          <a href="mailto:mete@node101.io" class="animate-cipher-on-hover text-2xl max-lg:text-lg">mete@node101.io</a>
          <a href="https://t.me/gergin_101" class="animate-cipher-on-hover text-2xl max-lg:text-lg">// @gergin_101</a>
        </div>
        <div href="mailto:yunus@node101.io" class="w-1/2 flex flex-col gap-2">
          <h3 class="text-xl max-lg:text-sm">YUNUS GÜRLEK</h3>
          <a href="mailto:yunus@node101.io" class="animate-cipher-on-hover text-2xl max-lg:text-lg">yunus@node101.io</a>
          <a href="https://t.me/ygurlek" class="animate-cipher-on-hover text-2xl max-lg:text-lg">// @ygurlek</a>
        </div>
      </div>
      <div href="mailto:cryptistanbul@gmail.com" class="w-fit flex flex-col gap-2 mb-auto">
        <h3 class="animate-cipher-on-hover mt-6 text-xl max-lg:text-sm">EMAIL</h3>
        <a href="mailto:cryptistanbul@gmail.com" class="animate-cipher-on-hover text-2xl max-lg:text-lg">cryptistanbul@gmail.com</a>
      </div>
    </div>
    <a
      href="https://maps.app.goo.gl/JHpae7HTWeSSUWZbA"
      target="_blank"
      class="flex max-w-[380px] flex-col gap-8 max-lg:max-w-full max-lg:gap-4"
    >
      <h2 class="animate-cipher-on-hover text-lg leading-[1.2]">YENİ RAMİMAHALLESİ, RAMİ KIŞLA CD. 98/1, 34055 EYÜPSULTAN İSTANBUL</h2>
      <iframe
        src="https://snazzymaps.com/embed/721978"
        class="pointer-events-none h-[330px] w-full border-none"
      ></iframe>
    </a>
  </div>
</footer>