<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0" />
<title>{{ title }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="description" content="Cryptist is an annual, day-long, zero-knowledge community event in Istanbul to learn, connect, and share amongst the Turkish ZK community." />
<meta property="og:url" content="https://cryptist.org" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Cryptist" />
<meta property="og:description" content="Cryptist is an annual, day-long, zero-knowledge community event in Istanbul to learn, connect, and share amongst the Turkish ZK community." />
<meta property="og:image" content="https://cryptist.org/img/meta.webp" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="cryptist.org" />
<meta property="twitter:url" content="https://cryptist.org" />
<meta name="twitter:title" content="Cryptist" />
<meta name="twitter:description" content="Cryptist is an annual, day-long, zero-knowledge community event in Istanbul to learn, connect, and share amongst the Turkish ZK community." />
<meta name="twitter:image" content="https://cryptist.org/img/meta.webp" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/src/style.css" />
