<header
  class="sticky top-0 left-0 z-30 flex h-24 w-full items-center justify-between bg-[#11191D] px-12 max-sm:h-16 max-sm:px-4"
>
  <a href="/" class="">
    <img src="/logo.svg" alt="logo" class="h-4 max-sm:h-3.5" />
  </a>
  <label
    id="menu-toggle-label"
    class="cursor-pointer text-xl font-bold select-none max-sm:text-lg"
    for="menu-toggle"
    onclick="
    this.innerHTML = this.innerHTML === 'MENU' ? 'CLOSE' : 'MENU';
    if (this.innerHTML === 'CLOSE' && window.innerWidth >= 640)
      window.scrollTo({ top: 0, behavior: 'smooth' });
    "
  >MENU</label>
</header>
<input type="checkbox" id="menu-toggle" class="peer hidden" />
<div
  class="pointer-events-none absolute top-[-30%] left-0 z-10 flex w-full flex-col items-center justify-center bg-[#11191D] opacity-0 transition-all duration-500 ease-in-out peer-checked:pointer-events-auto peer-checked:top-24 peer-checked:opacity-100 max-sm:fixed max-sm:top-16 max-sm:bottom-0 max-sm:z-30 max-sm:peer-checked:top-16"
>
  <div
    class="m-auto flex h-fit w-full flex-row flex-wrap justify-between gap-8 px-8 py-16 font-[Space_Mono] text-white max-sm:flex-col max-sm:flex-nowrap max-sm:justify-center max-sm:py-8"
  >
    <a href="#sponsors" class="group flex items-center gap-2" onclick="document.getElementById('tab-sponsors').checked = true; document.getElementById('menu-toggle-label').click()">
      <span class="animate-cipher-on-hover text-4xl font-light">SPONSORS</span>
      <img
        class="size-5 transition-transform duration-300 ease-in-out group-hover:translate-x-1"
        src="/arrow-blue.svg"
        alt="arrow"
      />
    </a>
    <a href="#speakers" class="group flex items-center gap-2" onclick="document.getElementById('tab-speakers').checked = true; document.getElementById('menu-toggle-label').click()">
      <span class="animate-cipher-on-hover text-4xl font-light">SPEAKERS</span>
      <img
        class="size-5 transition-transform duration-300 ease-in-out group-hover:translate-x-1"
        src="/arrow-blue.svg"
        alt="arrow"
      />
    </a>
    <a href="#partners" class="group flex items-center gap-2" onclick="document.getElementById('tab-partners').checked = true; document.getElementById('menu-toggle-label').click()">
      <span class="animate-cipher-on-hover text-4xl font-light">PARTNERS</span>
      <img
        class="size-5 transition-transform duration-300 ease-in-out group-hover:translate-x-1"
        src="/arrow-blue.svg"
        alt="arrow"
      />
    </a>
    <div
      class="group relative grid cursor-pointer grid-cols-[repeat(2,max-content)] items-center gap-x-2"
    >
      <input type="checkbox" id="past-events-toggle" class="peer hidden" />
      <label
        class="animate-cipher-on-hover cursor-pointer text-4xl font-light"
        for="past-events-toggle"
      >PAST EVENTS</label>
      <img
        class="size-5 transition-transform duration-300 ease-in-out group-hover:rotate-15 peer-checked:rotate-90"
        src="/arrow-blue.svg"
        alt="arrow"
      />
      <a
        href="/cryptist-2022"
        class="pointer-events-none absolute top-12 translate-y-[-10%] text-xl text-white opacity-0 transition-all duration-300 ease-in-out peer-checked:pointer-events-auto peer-checked:translate-y-0 peer-checked:opacity-100"
      >2022</a>
      <a
        href="/cryptist-2023"
        class="pointer-events-none absolute top-22 translate-y-[-10%] text-xl text-white opacity-0 transition-all delay-75 duration-300 ease-in-out peer-checked:pointer-events-auto peer-checked:translate-y-0 peer-checked:opacity-100"
      >2023</a>
    </div>
  </div>
  <div
    class="mx-auto my-auto flex flex-row gap-24 px-4 py-12 text-end font-[Space_Mono] max-sm:mx-0 max-sm:ml-auto max-sm:w-fit max-sm:flex-col max-sm:gap-4 max-sm:py-4"
  >
    {{#each headerLinks}}
      <a
        href="{{this.url}}"
        class="animate-cipher-on-hover transition-colors hover:text-white/80"
        target="_blank"
      >{{this.name}}</a>
    {{/each}}
  </div>
  <div
    class="hidden w-full justify-between p-4 text-[8px] text-[#D9D9D9] max-sm:flex"
  >
    <div>Designed and developed by
      <a
        href="https://node101.io"
        target="_blank"
        class="text-white"
      >node101</a></div>
    <div id="copyright">© 2025. All rights reserved.</div>
    <script>
      window.addEventListener('load', () => {
      document.getElementById('copyright').innerHTML = '© ' + new
      Date().getFullYear() + '. All rights reserved.'; });
    </script>
  </div>
</div>