extends ../partials/head
block content
  .all-wrapper
    .all-header
      a.all-header-logo-wrapper(href='/' + (query_lang ? '?lang = ' + query_lang : ''))
        img.all-header-logo(src="img/logo/cryptist_logo.svg", alt="Cryptist Logo") 
      .all-header-pages-wrapper 
        .all-header-pages
          a.all-header-pages-text(href="") Speakers  
          a.all-header-pages-text(href="") Sponsors  
          a.all-header-pages-text(href="") Schedule   
          a.all-header-pages-text(href="") Past Events 
      .all-header-social-button
        .all-header-social-button-image
          a(href="https://twitter.com/cryptistanbul")
            img.all-header-social-twitter(src="img/socials/x_logo.svg", alt="Cryptist Twitter account")
          a(href="https://www.youtube.com/@cryptist5348")
            img.all-header-social-youtube(src="img/socials/youtube_logo.svg", alt="Cryptist Twitter account")
    .all-content
      .all-content-text-zkEvent 
        p.all-content-zkEvent-subtitle Istanbul | November 11th, 2023 
        .all-content-zkEvent-title
          span A 
          span.all-content-zkEvent-title-blue Zero-Knowledge 
          p Event in Istanbul
        p.all-content-zkEvent-subtext Cryptİst is an annual day-long, Zero-Knowledge community event in Istanbul, to learn, connect, share, and make the agenda of the year. 
      .all-content-whyCryptist-wrapper  
        .all-content-whyCryptist
          .all-content-whyCryptist-text-wrapper
            .all-content-whyCryptist-text
              p.all-content-whyCryptist-title Why Cryptİst?
              p.all-content-whyCryptist-paragraph CryptIst invites the most successful young developers of the Blockchain ecosystem to think and produce on zero-knowledge technology.
              p.all-content-whyCryptist-subtext There is no better place to explore Zero-Knowledge technology with leading international developers than CryptIst. Bringing Turkey's most talented developers together with global friends, CryptIst aims to make Istanbul a zero-knowledge developer center.
          .all-content-whyCryptist-circle-wraper
            .all-content-whyCryptist-circle
        .all-content-whyCryptist-img-wrapper
          img.all-content-whyCryptist-img-left(src="img/cryptist/left.png" alt="")
          img.all-content-whyCryptist-img-right(src="img/cryptist/right.png" alt="")
      .all-content-pastEvent-wrapper 
        .all-content-pastEvent-text-wrapper
          .all-content-pastEvent-text-1 
            span Past Event:  
            span.all-content-pastEvent-text-1-blue  Cryptİst 
            span 2022 and 
            span.all-content-pastEvent-text-1-blue Moda Palas 
          p.all-content-pastEvent-text-2 There is a permanent ZK Community in Istanbul! Did you know that?
          .all-content-pastEvent-text-3 
            span.all-content-pastEvent-text-3-bold CryptIst 2022 
            span hosted many international names who developed Zero-knowledge Proof technology such as Emre Tekişalp from O1 labs, Toghrul Maharramov from Scroll, Anthony Diprinzio from Aleo, Kaan Uzdoğan from Ethereum Foundation, and many more. Cryptİst is an annual summit. Istanbul's Zero-Knowledge Community is always in touch with the monthly 
            span.all-content-pastEvent-text-3-bold "Moda Palas" 
            span gatherings. 
          img.all-content-pastEvent-moda-palas-image(src="img/cryptist/moda-palas.png", alt="Moda Palas Image")
        .all-content-pastEvent-image-wrapper
          .all-content-pastEvents-spiral-wrapper 
            img.all-content-pastEvents-spiral(src="img/slide/slide-background-vector.png", alt="")
          .all-content-pastEvents-slide-wrapper
            .all-content-pastEvents-slide-container(data-carousel)
              ul.all-content-pastEvents-slide-image-wrapper(data-slides)
                li.all-content-pastEvents-slide-image(data-active)
                  img(src="img/slide/slide-1.png", alt="")
                li.all-content-pastEvents-slide-image
                  img(src="img/slide/slide-2.png", alt="")
                li.all-content-pastEvents-slide-image
                  img(src="img/slide/slide-3.png", alt="")
                li.all-content-pastEvents-slide-image
                  img(src="img/slide/slide-4.png", alt="")
                li.all-content-pastEvents-slide-image
                  img(src="img/slide/slide-5.png", alt="")
              button.all-content-pastEvents-slide-button-wrapper(data-carousel-button)
                svg.all-content-pastEvents-slide-button-next(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
      .all-content-speakers-wrapper
        p.all-content-speakers-title Speakers
        .all-content-speakers-card-container 
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-purple.png", alt="Background Glow Purple")
            img.all-content-speakers-card-image(src="img/speakers/speaker-purple.png", alt="Todd Norton, Manta Network image")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.purple Todd Norton, Manta Network
              p.all-content-speakers-card-title “SNARKs, ZKPs, and Other Things The NSA Doesn't Want You to Know About”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="")
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-turquoise.png", alt="Background Glow Turquoise")
            img.all-content-speakers-card-image(src="img/speakers/speaker-turquoise.png", alt="Eda Akturk, Helium Foundation image")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.turquoise Eda Akturk, Helium Foundation
              p.all-content-speakers-card-title “Getting Into Web3 as a Developer”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="")
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-green.png", alt="Background Glow Green")
            img.all-content-speakers-card-image(src="img/speakers/speaker-green.png", alt="Doruk İşmen, dYdX image")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.green Doruk İşmen, dYdX
              p.all-content-speakers-card-title “dYdX V4 - The dYdX Chain”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="")
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-orange.png", alt="Background Glow Orange")
            img.all-content-speakers-card-image(src="img/speakers/speaker-orange.png", alt="Albiona Hoti, Manta Network image")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.orange Albiona Hoti, Manta Network
              p.all-content-speakers-card-title “Private Everything: On-chain Privacy Demo with Manta Network's Dolphin Testnet”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="") 
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-purple.png", alt="Background Glow Purple")
            img.all-content-speakers-card-image(src="img/speakers/speaker-purple.png", alt="")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.purple Todd Norton, Manta Network
              p.all-content-speakers-card-title “SNARKs, ZKPs, and Other Things The NSA Doesn't Want You to Know About”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="")
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-turquoise.png", alt="Background Glow Turquoise")
            img.all-content-speakers-card-image(src="img/speakers/speaker-turquoise.png", alt="")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.turquoise Eda Akturk, Helium Foundation,
              p.all-content-speakers-card-title “Getting Into Web3 as a Developer”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="")
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-green.png", alt="Background Glow Green")
            img.all-content-speakers-card-image(src="img/speakers/speaker-green.png", alt="")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.green Doruk İşmen, dYdX
              p.all-content-speakers-card-title “dYdX V4 - The dYdX Chain”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="")
          .all-content-speakers-card
            img.all-content-speakers-card-glow(src="img/glow/glow-orange.png", alt="Background Glow Orange")
            img.all-content-speakers-card-image(src="img/speakers/speaker-orange.png", alt="")
            .all-content-speakers-card-info-wrap  
              p.all-content-speakers-card-name-company.orange Albiona Hoti, Manta Network
              p.all-content-speakers-card-title “Private Everything: On-chain Privacy Demo with Manta Network's Dolphin Testnet”
              .all-content-speakers-card-socials
                a(href="")
                  img.all-content-speakers-card-linkedin(src="", alt="")
                a(href="")
                  img.all-content-speakers-card-twitter(src="", alt="")
      .all-content-sponsors-wrapper
        .all-content-sponsors-upper-wrapper
          .all-content-sponsors-text-wrapper
            p.all-content-sponsors-text-1 Would you like to be a sponsor to Cryptİst? Reach us!
            p.all-content-sponsors-text-2 cryptistanbul@gmail.com
          .all-content-sponsors-image-wrapper
            img.all-content-sponsors-image(src="img/sponsors/vector.png", alt="")
        .all-content-sponsors-card-wrapper 
          .all-content-sponsors-card-container
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/project-1.png", alt="Lava Network logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Lava Network 
                .all-content-sponsors-card-socials
                  a(href="")
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="")
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/project-2.png", alt="Mina logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Mina 
                .all-content-sponsors-card-socials
                  a(href="")
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="")
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/project-3.png", alt="Juno logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Juno 
                .all-content-sponsors-card-socials
                  a(href="")
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="")
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/project-4.png", alt="NYM logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title NYM
                .all-content-sponsors-card-socials
                  a(href="")
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="")
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")                 
      .all-content-schedule-wrapper
        .all-content-schedule-text-vector-wrapper
          .all-content-schedule-vector-wrapper
            img(src="img/schedule/schedule-vector.png", alt="")
          .all-content-schedule-text-wrapper 
            p.all-content-schedule-text-1 Schedule
            p.all-content-schedule-text-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id enim nemo modi provident explicabo perspiciatis harum tempore voluptates molestias qui ipsa quae, rerum sed alias odit obcaecati officia veritatis cum!
        .all-content-schedule-timeline-container
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 8:00 AM - 9:00 AM
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Registration & Coffee
              .all-content-schedule-timeline-event-text 
                p Register your personal data in customer service and take coffee before entering the room
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 8:00 AM - 9:00 AM
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Todd Norton, Manta Network
              .all-content-schedule-timeline-event-text 
                p “SNARKs, ZKPs, and Other Things The NSA Doesn’t Want You to Know About”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 8:00 AM - 9:00 AM
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Luke Pearson, Polychain Capital
              .all-content-schedule-timeline-event-text
                p Tips and Tricks: Finding Your Way Around a ZK Universe”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 8:00 AM - 9:00 AM
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Coffee Break
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 8:00 AM - 9:00 AM
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Research For The Right Thing
              .all-content-schedule-timeline-event-text 
                p Research encompasses a cariety of investigative methods used to add context and insight to the design process
    .all-footer
      .all-footer-upper 
        .all-footer-upper-text Get your tickets now! Don’t miss the agenda of the Zero-Knowledge Ecosystem! See you in Cryptİst!
        .all-footer-upper-button 
      .all-footer-bottom-wrapper 
        .all-footer-bottom-container 
          .all-footer-bottom-left 
            .all-footer-bottom-left-text-1 CRYPTİST 
            .all-footer-bottom-left-line-shape 
            .all-footer-bottom-left-text-2 Cryptİst is an annual day-long, Zero-Knowledge community event in Istanbul, to learn, connect, share, and make the agenda of the year.
            .all-footer-bottom-left-subscription
            .all-footer-bottom-left-mail-clipboard
              p.all-footer-bottom-left-mail-clipboard-text cryptistanbul@gmail.com
              svg.all-footer-bottom-left-mail-clipboard-icon(viewBox="0 0 16 16" fill="#707070" xmlns="http://www.w3.org/2000/svg" width="16" height="16" ) 
                path(d="M14 5V14H5V5H14ZM14 4H5C4.73478 4 4.48043 4.10536 4.29289 4.29289C4.10536 4.48043 4 4.73478 4 5V14C4 14.2652 4.10536 14.5196 4.29289 14.7071C4.48043 14.8946 4.73478 15 5 15H14C14.2652 15 14.5196 14.8946 14.7071 14.7071C14.8946 14.5196 15 14.2652 15 14V5C15 4.73478 14.8946 4.48043 14.7071 4.29289C14.5196 4.10536 14.2652 4 14 4Z" fill="#707070")
                path(d="M2 9H1V2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H9V2H2V9Z" )
          .all-footer-bottom-right
            .all-footer-bottom-right-container 
              .all-footer-bottom-right-line 
                .all-footer-bottom-right-line-title Pages
                .all-footer-bottom-right-line-title Contact Us
              .all-footer-bottom-right-line 
                a.all-footer-bottom-right-line-text(href="")  Speakers
                a.all-footer-bottom-right-line-text(href="https://twitter.com/cryptistanbul")  Twitter
              .all-footer-bottom-right-line 
                a.all-footer-bottom-right-line-text(href="")  Sponsors
                a.all-footer-bottom-right-line-text(href="https://www.youtube.com/@cryptist5348")  YouTube
              .all-footer-bottom-right-line 
                a.all-footer-bottom-right-line-text(href="")  Schedule
                .all-footer-bottom-right-line-text 

