extends ../partials/head
block content
  each item, i in example
    - console.log(i, 'itemin indexi')
    - console.log(item.text)
    - console.log(item.link)
    - console.log(item.image)
  .all-wrapper
    .all-header
      a.all-header-logo-wrapper(href='/' + (query_lang ? '?lang = ' + query_lang : ''))
        img.all-header-logo(src="img/logo/cryptist_logo.svg", alt="Cryptist Logo") 
      .all-header-pages-wrapper 
        .all-header-pages
          .all-header-pages-text#header-pastEvent-button Past Events  
          .all-header-pages-text#header-speakers-button Past Speakers   
          .all-header-pages-text#header-sponsors-button Past Sponsors   
          .all-header-pages-text#header-schedule-button Schedule
      .all-header-social-button
        .all-header-social-button-image
          a(href="https://x.com/cryptistanbul" target='_blank')
            img.all-header-social-twitter(src="img/socials/x_logo.svg", alt="Cryptist X/Twitter account")
          a(href="https://www.youtube.com/@cryptist5348" target='_blank')
            img.all-header-social-youtube(src="img/socials/youtube_logo.svg", alt="Cryptist X/Twitter account")
      svg.all-header-mobile-menu-button-icon.display-none(width="32" height="32" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
        rect(x="2" y="6" width="22" height="2" fill="#F4F4F4")
        rect(x="2" y="22" width="22" height="2" fill="#F4F4F4")
        rect(x="2" y="14" width="22" height="2" fill="#F4F4F4")
      .all-header-mobile-menu.display-none
        svg.all-header-menu-button-icon(viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M22.5 8.8125L21.1875 7.5L15 13.6875L8.8125 7.5L7.5 8.8125L13.6875 15L7.5 21.1875L8.8125 22.5L15 16.3125L21.1875 22.5L22.5 21.1875L16.3125 15L22.5 8.8125Z" fill="#F4F4F4")
        .all-header-mobile-menu-sections-wrapper
          .all-header-mobile-menu-each-section-button#header-pastEvent-button-mobile Past Events
          .all-header-mobile-menu-each-section-button#header-speakers-button-mobile Past Speakers
          .all-header-mobile-menu-each-section-button#header-sponsors-button-mobile Past Sponsors
          .all-header-mobile-menu-each-section-button#header-schedule-button-mobile Schedule
    .all-content
      .all-content-zkEvent-wrapper
        .all-content-zkEvent-text-wrapper 
          p.all-content-zkEvent-subtitle Istanbul | November 11th, 2023 
          .all-content-zkEvent-title
            span A 
            span.all-content-zkEvent-title-blue Zero-Knowledge 
            p Event in Istanbul
          p.all-content-zkEvent-subtext Cryptİst is an annual, day-long, Zero-Knowledge community event in Istanbul to learn, connect, and share amongst the Turkish ZK community.
          a.all-content-small-button-wrapper(small-button href='https://lu.ma/cryptist' target='_blank') 
            .all-content-small-button-circle-left(small-button-left-circle)
              svg.all-content-small-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
            .all-content-small-button-circle-right(small-button-right-circle)
              svg.all-content-small-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
            .all-content-small-main-button-wrapper(small-button-main-rectangle)
              button.all-content-small-main-button
                .all-content-small-button-rectangle
                .all-content-small-button-text Get Tickets
        .all-content-zkEvent-vector-wrapper
      .all-content-whyCryptist-wrapper  
        .all-content-whyCryptist-text-wrapper
          p.all-content-whyCryptist-title Why Cryptİst?
          p.all-content-whyCryptist-paragraph CryptIst invites the most successful young developers of the Blockchain ecosystem to think and produce on zero-knowledge technology.
          p.all-content-whyCryptist-subtext There is no better place to explore Zero-Knowledge technology with leading international developers than CryptIst. Bringing Turkey's most talented developers together with global friends, CryptIst aims to make Istanbul a zero-knowledge developer center.
        .all-content-whyCryptist-image-wrapper  
          .all-content-whyCryptist-circle
          .all-content-whyCryptist-vector-wrapper
            img.all-content-whyCryptist-vector-left(src="img/cryptist/left.png" alt="")
            img.all-content-whyCryptist-vector-right(src="img/cryptist/right.png" alt="")
      .all-content-pastEvent-wrapper 
        .all-content-pastEvent-text-wrapper
          .all-content-pastEvent-text-1 
            span Past Event:
            span.all-content-pastEvent-text-1-blue  Cryptİst 
            span 2022 and 
            span.all-content-pastEvent-text-1-blue Moda Palas 
          .all-content-pastEvent-text-2 There is a permanent ZK Community in Istanbul! Did you know that?
          .all-content-pastEvent-text-3 
            span.all-content-pastEvent-text-3-bold CryptIst 2022 
            span hosted many international names who developed Zero-knowledge Proof technology such as Emre Tekişalp from O1 labs, Toghrul Maharramov from Scroll, Anthony Diprinzio from Aleo, Kaan Uzdoğan from Ethereum Foundation, and many more. Cryptİst is an annual summit. Istanbul's Zero-Knowledge Community is always in touch with the monthly 
            span.all-content-pastEvent-text-3-bold "Moda Palas" 
            span gatherings. 
          img.all-content-pastEvent-moda-palas-image(src="img/cryptist/moda-palas.png", alt="Moda Palas Image")
          a.all-content-small-button-wrapper(href='https://events.node101.io/moda-palas' target='_blank') 
            .all-content-small-button-circle-left
              svg.all-content-small-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
            .all-content-small-button-circle-right
              svg.all-content-small-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
            .all-content-small-main-button-wrapper
              button.all-content-small-main-button
                .all-content-small-button-rectangle
                .all-content-small-button-text Moda Palas
        .all-content-pastEvent-image-wrapper
          .all-content-pastEvent-spiral-wrapper 
            img.all-content-pastEvent-spiral(src="img/slide/slide-background-vector.png", alt="")
          .all-content-pastEvent-slide-container(data-carousel)
            ul.all-content-pastEvent-slide-image-wrapper(data-slides)
              li.all-content-pastEvent-slide-image(data-active)
                img.slide-image(src="img/slide/slide-1.png", alt="")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-2.png", alt="")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-3.png", alt="")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-4.png", alt="")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-5.png", alt="")
            button.all-content-pastEvent-slide-button-wrapper(data-carousel-button)
              svg.all-content-pastEvent-slide-button-next(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
      .all-content-speakers-wrapper
        p.all-content-speakers-title Last Year's Speakers
        .all-content-speakers-card-wrapper
          .all-content-speakers-card-container 
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-purple.png", alt="Background Glow Purple")
              img.all-content-speakers-card-image(src="img/speakers/purple-erol.png", alt="Errol Drummond, Cryptİst host image")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.purple Errol Drummond, Cryptİst host
                p.all-content-speakers-card-title “Welcome Speech”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-turquoise.png", alt="Background Glow Turquoise")
              img.all-content-speakers-card-image(src="img/speakers/turquoise-emre.png", alt="Emre Tekişalp, O(1) Labs image")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.turquoise Emre Tekişalp, O(1) Labs
                p.all-content-speakers-card-title “ZK and Web3 Mass Adoption (and it’s not just about scalability)”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-green.png", alt="Background Glow Green")
              img.all-content-speakers-card-image(src="img/speakers/green-eda.png", alt="Eda Akturk, Helium Foundation image")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.green Eda Akturk, Helium Foundation
                p.all-content-speakers-card-title “Getting Into Web3 as a Developer”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-orange.png", alt="Background Glow Orange")
              img.all-content-speakers-card-image(src="img/speakers/orange-murat.png", alt="Murat Karademir,Cryptİst host")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.orange Murat Karademir,Cryptİst host
                p.all-content-speakers-card-title “Welcome Speech”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="") 
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-orange.png", alt="Background Glow Purple")
              img.all-content-speakers-card-image(src="img/speakers/orange-kaan.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.orange Kaan Uzdoğan, Ethereum Foundation
                p.all-content-speakers-card-title “Ethereum Rollup-Centric Roadmap”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-red.png", alt="Background Glow Turquoise")
              img.all-content-speakers-card-image(src="img/speakers/red-luke.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.red Luke Pearson, Polychain Capital
                p.all-content-speakers-card-title “Tips and Tricks: Finding Your Way Around a ZK Universe”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-light-blue.png", alt="Background Glow Green")
              img.all-content-speakers-card-image(src="img/speakers/light-blue-anthony.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.light-blue Anthony DiPrinzio, Aleo
                p.all-content-speakers-card-title “Use Cases for Private Applications on Web3: Where is the Real Value?”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-green.png", alt="Background Glow Orange")
              img.all-content-speakers-card-image(src="img/speakers/green-doruk.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.green Doruk İşmen, dYdX
                p.all-content-speakers-card-title “dYdX V4 - The dYdX Chain”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-blue.png", alt="Background Glow Purple")
              img.all-content-speakers-card-image(src="img/speakers/blue-toghrul.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.blue Toghrul Maharramov, Scroll
                p.all-content-speakers-card-title “Zero-Knowledge Proofs in the World of Rollups”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-purple.png", alt="Background Glow Turquoise")
              img.all-content-speakers-card-image(src="img/speakers/purple-utku.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.purple Utku Dördüncü, Paribu Ventures
                p.all-content-speakers-card-title “ZK Technology Use Cases: Transfer Your Off-chain Personas Into Web3 with FirstBatch”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-turquoise.png", alt="Background Glow Green")
              img.all-content-speakers-card-image(src="img/speakers/turquoise-todd.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.turquoise Todd Norton, Manta Network
                p.all-content-speakers-card-title “SNARKs, ZKPs, and Other Things The NSA Doesn’t Want You to Know About”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-orange.png", alt="Background Glow Orange")
              img.all-content-speakers-card-image(src="img/speakers/orange-albiona.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.orange Albiona Hoti, Manta Network
                p.all-content-speakers-card-title “Private Everything: On-chain Privacy Demo with Manta Network's Dolphin Testnet”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-purple.png", alt="Background Glow Green")
              img.all-content-speakers-card-image(src="img/speakers/purple-omer.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.purple Ömer Kaya, Paribu Ventures
                p.all-content-speakers-card-title “ZK Technology Use Cases: Transfer Your Off-chain Personas Into Web3 with FirstBatch”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
            .all-content-speakers-card
              img.all-content-speakers-card-glow(src="img/glow/glow-turquoise.png", alt="Background Glow Orange")
              img.all-content-speakers-card-image(src="img/speakers/turquoise-kerim.png", alt="")
              .all-content-speakers-card-info-wrap  
                p.all-content-speakers-card-name-company.turquoise Kerim Kaya, Paribu Ventures
                p.all-content-speakers-card-title “ZK Technology Use Cases: Transfer Your Off-chain Personas Into Web3 with FirstBatch”
                .all-content-speakers-card-socials
                  a(href="" target='_blank')
                    img.all-content-speakers-card-linkedin(src="", alt="")
                  a(href="" target='_blank')
                    img.all-content-speakers-card-twitter(src="", alt="")
      .all-content-sponsors-wrapper
        .all-content-sponsors-upper-wrapper
          .all-content-sponsors-text-wrapper
            p.all-content-sponsors-text-1 Would you like to be a sponsor to Cryptİst? 
            p.all-content-sponsors-text-2 Reach us!
            .all-content-sponsors-button-wrapper
              a.all-content-large-button-wrapper(href='mailto:cryptist@gmail.com')  
                .all-content-large-button-circle-left
                  svg.all-content-large-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
                .all-content-large-button-circle-right
                  svg.all-content-large-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
                .all-content-large-main-button-wrapper
                  button.all-content-large-main-button
                    .all-content-large-button-rectangle
                    .all-content-large-button-text cryptistanbul@gmail.com
              p.all-content-sponsors-text-3 or
              a.all-content-small-button-circle-right(href='https://t.me/+GUgXyfYPg_s0NGVk' target='_blank')
                svg.all-content-small-button-circle-telegram-icon(width="25px" height="25px" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;")
                    path(d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z")
          .all-content-sponsors-image-wrapper
            img.all-content-sponsors-image(src="img/sponsors/vector.png", alt="")
        .all-content-sponsors-title Last Year's Sponsors
        .all-content-sponsors-card-wrapper 
          .all-content-sponsors-card-container 
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/sponsor-1.png", alt="Aleo Network logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Aleo Network 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/aleohq" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/AleoHQ" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/sponsor-2.png", alt="dYdX Foundation logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title dYdX Foundation
                .all-content-sponsors-card-socials
                  a(href="https://ch.linkedin.com/company/dydx-foundation" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/dydxfoundation" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/sponsor-3.png", alt="Ethereum Foundation logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Ethereum Foundation
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/ethereum-foundation/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/ethereum" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/sponsor-4.png", alt="Manta Network logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Manta Network
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/mantanetwork/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/MantaNetwork" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/sponsor-5.png", alt="O(1) Labs logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title O(1) Labs 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/o1labs/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/o1_labs" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/sponsor-6.png", alt="Paribu Ventures logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Paribu Ventures 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/paribu-ventures/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/ParibuVentures" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/sponsor-7.png", alt="Scroll logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Scroll
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/scroll-io/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/Scroll_ZKP" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="") 
        .all-content-sponsors-title Partners
        .all-content-sponsors-card-wrapper  
          .all-content-sponsors-card-container 
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/partner-1.png", alt="Buchain logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Buchain 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/bogazicichain/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/bogazicichain" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/partner-2.png", alt="ITU Blockchain logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title ITU Blockchain 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/itublockchain/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/ITUblockchain" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/partner-3.png", alt="L2 Planet logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title L2 Planet 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/l2-planet/?trk=similar-pages" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/layer2planet" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/partner-4.png", alt="zkApe logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title zkApe
                .all-content-sponsors-card-socials
                  a(href="")
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/0xzkape" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/partner-5.png", alt="node101 logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title node101 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/node101/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/node_101" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
            .all-content-sponsors-card
              img.all-content-sponsors-card-image(src="img/sponsors/partner-6.png", alt="Btchaber logo")
              .all-content-sponsors-info-wrapper 
                p.all-content-sponsors-card-project-title Btchaber 
                .all-content-sponsors-card-socials
                  a(href="https://www.linkedin.com/company/btchabercom/" target='_blank')
                    img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                  a(href="https://x.com/BTCHabercom" target='_blank')
                    img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
      .all-content-schedule-wrapper
        .all-content-schedule-text-vector-wrapper
          img.all-content-schedule-vector-wrapper(src="img/schedule/schedule-vector.png", alt="")
          .all-content-schedule-text-wrapper 
            p.all-content-schedule-text-1 Schedule
            p.all-content-schedule-text-2 Check out the schedule of Istanbul's most anticipated zero-knowledge-proof community event day. Do not miss any of the speeches or panels.
        .all-content-schedule-timeline-container
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 9:00  - 10:00 
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Good Morning Coffee
              .all-content-schedule-timeline-event-text 
                p Welcome Speech, Errol Drummond & Murat Karademir
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 10.10 - 10.40
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Todd Norton, Manta Network
              .all-content-schedule-timeline-event-text 
                p “SNARKs, ZKPs, and Other Things The NSA Doesn’t Want You to Know About”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 10:40-11:10
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Kaan Uzdoğan, Ethereum Foundation
              .all-content-schedule-timeline-event-text
                p “Ethereum Rollup-Centric Roadmap”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 11:10-11:40
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Luke Pearson, Polychain Capital
              .all-content-schedule-timeline-event-text
                p “Tips and Tricks: Finding Your Way Around a ZK Universe”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 11:40-12:10
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Coffee Break
              .all-content-schedule-timeline-event-text 
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 12:10-12:40
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Emre Tekişalp, O(1) Labs
              .all-content-schedule-timeline-event-text 
                p  “ZK and Web3 Mass Adoption (and it’s not just about scalability)”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 12:40-13:10
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Anthony DiPrinzio, Aleo
              .all-content-schedule-timeline-event-text 
                p “Use Cases for Private Applications on Web3: Where is the Real Value?”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 13:10-13:40
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Eda Akturk, Helium Foundation
              .all-content-schedule-timeline-event-text 
                p “Getting Into Web3 as a Developer”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 13:40-14:40
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Lunch and Networking
              .all-content-schedule-timeline-event-text 
                p 
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 14:40-15:10
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Doruk İşmen, dYdX
              .all-content-schedule-timeline-event-text 
                p “dYdX V4 - The dYdX Chain”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 15:10-15:40
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Albiona Hoti, Manta Network
              .all-content-schedule-timeline-event-text 
                p “Private Everything: On-chain Privacy Demo with Manta Network's Dolphin Testnet”
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 15:40-16:00
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Coffee Break
              .all-content-schedule-timeline-event-text 
                p   
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 16:30-17:00
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Toghrul Maharramov, Scroll
              .all-content-schedule-timeline-event-text 
                p “Zero-Knowledge Proofs in the World of Rollups”  
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 17:00-18:00
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p Chill Vibes Only
              .all-content-schedule-timeline-event-text 
                p   
          .all-content-schedule-timeline-line-container
            .all-content-schedule-timeline-time
              p 20:00-00:00 
              .all-content-schedule-timeline-dot
            .all-content-schedule-timeline-event
              .all-content-schedule-timeline-event-title
                p After Party at a different location
              .all-content-schedule-timeline-event-text 
                p SPONSORS
      .all-content-saltGalata-wrapper 
        .all-content-saltGalata-text-wrapper 
          .all-content-saltGalata-text-1 Salt Galata
          .all-content-saltGalata-text-2 Salt Galata building, located on Bankalar Street in Karaköy, was designed by the French-born Levantine architect Alexandre Vallauri for Bank-ı Osmanî-i Şahane (later Ottoman Bank) and was used as the headquarters of the Ottoman Bank between 1892-1999.
          .all-content-saltGalata-text-2 Now, it is an excellent event place for small summits and gatherings. See you there with a fabulous Istanbul and Bosphorus view.
          .all-content-saltGalata-location-wrapper
            svg.all-content-saltGalata-location-icon( viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg")
              path(d="M24 4c-7.73 0-14 6.27-14 14 0 10.5 14 26 14 26s14-15.5 14-26c0-7.73-6.27-14-14-14zm0 19c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" fill="white")
              path(d="M0 0h48v48H0z" fill="none")            
            a.all-content-saltGalata-text-2(href="https://www.google.com/maps/place/SALT+Galata/@41.0239214,28.9734887,17z/data=!3m1!4b1!4m6!3m5!1s0x14cab9e8144a79f5:0x616d8eecf6ae3aa6!8m2!3d41.0239214!4d28.9734887!16s%2Fg%2F1tl6nrm5?entry=ttu" target='_blank')  Azapkapı, Bankalar Cd. No:11, 34420 Beyoğlu/İstanbul
        .all-content-saltGalata-slide-wrapper(data-carousel)
          ul.all-content-saltGalata-slide-image-wrapper(data-slides)
            li.all-content-saltGalata-slide-image(data-active)
              img.slide-image(src="img/saltGalata/saltGalata-1.png", alt="")
            li.all-content-saltGalata-slide-image
              img.slide-image(src="img/saltGalata/saltGalata-2.png", alt="")
            li.all-content-saltGalata-slide-image
              img.slide-image(src="img/saltGalata/saltGalata-3.png", alt="")
            li.all-content-saltGalata-slide-image
              img.slide-image(src="img/saltGalata/saltGalata-4.png", alt="")
            li.all-content-saltGalata-slide-image
              img.slide-image(src="img/saltGalata/saltGalata-5.png", alt="")
            li.all-content-saltGalata-slide-image
              img.slide-image(src="img/saltGalata/saltGalata-6.png", alt="")
          button.all-content-saltGalata-slide-button-wrapper(data-carousel-button)
              svg.all-content-saltGalata-slide-button-next(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")                                                                                                                            
    .all-footer
      .all-footer-upper 
        .all-footer-upper-text-1 Get your tickets now! Don’t miss the agenda of the 
        .all-footer-upper-text-2 Zero-Knowledge Ecosystem! See you in Cryptİst!
        .all-content-small-button-wrapper 
          .all-content-small-button-circle-left
            svg.all-content-small-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
          .all-content-small-button-circle-right
            svg.all-content-small-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
          .all-content-small-main-button-wrapper
            button.all-content-small-main-button
              .all-content-small-button-rectangle
              .all-content-small-button-text Get Tickets 
      .all-footer-bottom-wrapper 
        .all-footer-bottom-container 
          .all-footer-bottom-left 
            .all-footer-bottom-left-text-1 CRYPTİST 
            .all-footer-bottom-left-line-shape 
            .all-footer-bottom-left-text-2 Cryptİst is an annual day-long, Zero-Knowledge community event in Istanbul, to learn, connect, share, and make the agenda of the year.
            .all-footer-bottom-left-subscription
          .all-footer-bottom-right
            .all-footer-bottom-right-container 
              .all-footer-bottom-right-line 
                .all-footer-bottom-right-line-title Pages
                .all-footer-bottom-right-line-title Contact Us
              .all-footer-bottom-right-line 
                a.all-footer-bottom-right-line-text#footer-speakers-button(href="") Past Speakers
                a.all-footer-bottom-right-line-text(href="https://x.com/cryptistanbul" target='_blank') X/Twitter
              .all-footer-bottom-right-line 
                a.all-footer-bottom-right-line-text#footer-sponsors-button(href="") Past Sponsors
                a.all-footer-bottom-right-line-text(href="https://www.youtube.com/@cryptist5348" target='_blank') YouTube
              .all-footer-bottom-right-line 
                a.all-footer-bottom-right-line-text#footer-schedule-button(href="") Schedule
                .all-footer-bottom-right-line-text 
      .all-footer-info 
        a.all-footer-info-mail-clipboard(href="" target='_blank') 
          p.all-footer-info-mail-clipboard-text cryptistanbul@gmail.com
          svg.all-footer-info-mail-clipboard-icon(viewBox="0 0 16 16" fill="#707070" xmlns="http://www.w3.org/2000/svg" width="16" height="16" ) 
            path(d="M14 5V14H5V5H14ZM14 4H5C4.73478 4 4.48043 4.10536 4.29289 4.29289C4.10536 4.48043 4 4.73478 4 5V14C4 14.2652 4.10536 14.5196 4.29289 14.7071C4.48043 14.8946 4.73478 15 5 15H14C14.2652 15 14.5196 14.8946 14.7071 14.7071C14.8946 14.5196 15 14.2652 15 14V5C15 4.73478 14.8946 4.48043 14.7071 4.29289C14.5196 4.10536 14.2652 4 14 4Z" fill="#707070")
            path(d="M2 9H1V2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H9V2H2V9Z" )
        .all-footer-info-line 
        .all-footer-info-text-wrapper 
          .all-footer-info-text Design &  develop by node101 © 2023
          .all-footer-info-text © 2023. All Rights Reserved.
