:root {
  --box-padding: 30px;
  --content-gap: 150px;

  --header-height: 80px;
  --header-padding: 100px;

  --content-padding:80px;

  --xl-4-font-size: 72px;
  --xl-3-font-size: 64px;
  --xl-2-font-size: 52px;
  --xl-font-size: 36px; 
  --md-2-font-size: 28px;
  --md-font-size: 24px;
  --sm-2-font-size: 20px;
  --sm-font-size: 16px;
  --xs-font-size: 14px;

  --xl-2-text-gap: 40px;
  --xl-text-gap: 20px;
  --md-text-gap: 10px;
  --sm-text-gap: 5px;

  --button-width: 175px;
  --button-height: 35px;

  --large-button-width: 280px;

  --zkEvent-text-wrapper-width: 60vw;
  --whyCryptist-text-wrapper-width: 60vw;
  --whyCryptist-text-wrapper-height: 100vh;
  --whyCryptist-image-wrapper-width: 40vw;
  --whyCryptist-image-wrapper-height: 100vh;
  --whyCryptist-circle-height: 100vh;
  --pastEvent-text-wrapper-width: 50vw;
  --pastEvent-image-wrapper-width: 60vw;
  --pastEvent-slide-container-width: 40vw;
  --pastEvent-slide-container-height: 30vw;
  --pastEvent-slide-container-top: calc((100vh - 30vw) / 2);
  --pastEvent-slide-container-left: 0;
  --pastEvent-slide-button-height: 40px;
  --pastEvent-spiral-width: 100vh;
  --speakers-card-container-width: 100vw;
  --speakers-card-width: calc((100vw - 4 * var(--header-padding) - 3 * var(--box-padding)) / 4);
  --sponsors-text-wrapper-width: fit-content;
  --sponsors-image-width: 40vw;
  --sponsors-card-wrapper-width: 100vw;
  --sponsors-card-width: calc((100vw - 6 * var(--header-padding) - 3 * var(--box-padding)) / 4);
  --schedule-text-vector-wrapper-width: 40vw;
  --schedule-text-vector-wrapper-height: 100vh;
  --schedule-text-wrapper-width: 50vw;
  --schedule-timeline-container-width:50vw;
  --schedule-timeline-container-height:50vh;
  --saltGalata-text-wrapper-width: 40vw;
  --saltGalata-text-wrapper-height: fit-content;
  --saltGalata-slide-wrapper-width: 40vw;
  --saltGalata-slide-wrapper-height: 40vh;
  
  --footer-bottom-left-width: 30vw;
  --footer-bottom-left-height: 100%;
  --footer-bottom-right-height: 100%;
  --footer-bottom-right-width: 50vw;
}

.all-wrapper {
  height: calc(100vh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: overlay;
  color: var(--text-color);
  margin-top: var(--header-height);
}
.all-wrapper::-webkit-scrollbar {
  width: 8px;
}
.all-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--background-color-blue);
}
.all-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.all-header {
  height: var(--header-height);
  min-height: var(--header-height);
  width: 100vw;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
  padding: 0 var(--header-padding);
  background-color: var(--background-color-two);
  backdrop-filter: blur(20px);
}

.all-header-logo-wrapper {
  padding-left:0 var(--header-padding);
  width: auto;
  margin-right: auto;
}
.all-header-logo {
  height: 50px;
  width: auto;
}
.all-header-pages-wrapper {
  width: fit-content;
}
.all-header-pages {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  font-size: var(--xs-font-size);
}
.all-header-pages-text {
  text-decoration: none;
  color: var(--text-color);
  width: fit-content;
  cursor: pointer;
}
.all-header-mobile-menu-button-icon {
 cursor: pointer;
}
.all-header-mobile-menu-sections-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--header-padding);
  gap: 40px;
}
.all-header-mobile-menu-each-section-button {
  display: flex;
  font-size: var(--xl-2-font-size);
  cursor: pointer;
}
.all-header-social-button {
  width: 10%;
  align-items: center;
}
.all-header-social-button-image {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}
.all-header-social-button-image a {
  display: flex;
  align-items: center;
}
.all-header-social-twitter {
  height: 20px;
  width: auto;
}
.all-header-social-youtube {
  height: 20px;
  width: auto;
}

.all-header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(50px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-header-menu-button-icon {
  position: absolute;
  top: var(--header-padding);
  right: var(--header-padding);
  width: var(--header-padding);
  height: var(--header-padding);
  cursor: pointer;
}

.all-content {
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
.all-content-zkEvent-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
}
.all-content-zkEvent-text-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: var(--zkEvent-text-wrapper-width);
  min-width: var(--zkEvent-text-wrapper-width);
  color: var(--text-color);
  padding-top: 30vh;
  padding-left: var(--header-padding);
}

.all-content-zkEvent-subtitle {
  font-size: var(--sm-2-font-size);
  margin-bottom: var(--xl-text-gap);
}
.all-content-zkEvent-title {
  font-size: var(--xl-4-font-size);
  font-weight: 700;
  margin-bottom: var(--xl-text-gap);
}
.all-content-zkEvent-title-blue {
  color: var(--text-color-two);
}
.all-content-zkEvent-subtext {
  font-size: var(--sm-2-font-size);
  margin-bottom: var(--xl-2-text-gap);
}
.all-content-zkEvent-vector-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 40vw;
  min-width: 40vw;
}
/* SMALL BUTTON */
.all-content-small-button-wrapper {
  position: relative;
  width: var(--button-width);
  min-width: var(--button-width);
  height: var(--button-height);
  min-height: var(--button-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-content-small-button-wrapper:hover {

}
.all-content-small-button-circle-left {
  position: relative;
  width: 0;
  min-width: 0;
  height: 0;
  min-height: 0;
  bottom: 0;
  background-color: var(--background-color-blue);
  border-radius: 100%;
  transition: all 0.5s;
}
.all-content-small-button-wrapper:hover .all-content-small-button-circle-left {
  width: var(--button-height);
  min-width: var(--button-height);
  height: var(--button-height);
  min-height: var(--button-height);
}
.all-content-small-button-circle-right {
  position: relative;
  width: var(--button-height);
  min-width: var(--button-height);
  height: var(--button-height);
  min-height: var(--button-height);
  background-color: var(--background-color-blue);
  border-radius: 100%;
  transition: all 0.5s;
}
.all-content-small-button-wrapper:hover .all-content-small-button-circle-right {
  width: 0;
  min-width: 0;
  height: 0;
  min-height: 0;
}
.all-content-small-button-circle-icon-left {
  position: absolute;
  top: calc(var(--button-height) / 4);
  right: calc(var(--button-height) / 3);
  height: 0;
  min-height: 0;
  width: 0;
  min-width: 0;
  fill: none;
  stroke: #0E0E0E;
  transition: all 0.5s;

}
.all-content-small-button-wrapper:hover .all-content-small-button-circle-icon-left {
  height: calc(var(--button-height) / 2);
  min-height: calc(var(--button-height) / 2);
  width: auto;
  min-width: auto;
}

.all-content-small-button-circle-icon-right {
  position: absolute;
  top: calc(var(--button-height) / 4);
  right: calc(var(--button-height) / 3);
  height: calc(var(--button-height) / 2);
  min-height: calc(var(--button-height) / 2);
  width: auto;
  min-width: auto;
  fill: none;
  stroke: #0E0E0E;
  transition: all 0.5s;

}
.all-content-small-button-wrapper:hover .all-content-small-button-circle-icon-right {
  height: 0;
  min-height: 0;
  width: 0;
  min-width: 0;
}
.all-content-small-button-circle-telegram-icon {
  position: absolute;
  top: calc(var(--button-height) / 4);
  right: calc(var(--button-height) / 5);
  height: calc(var(--button-height) / 2);
  min-height: calc(var(--button-height) / 2);
}
.all-content-small-main-button-wrapper {
  position: absolute;
  left: 0;
  width: calc(var(--button-width) - var(--button-height));
  min-width: calc(var(--button-width) - var(--button-height));
  height: var(--button-height);
  min-height: var(--button-height);
  transition: all 0.5s;
}
.all-content-small-button-wrapper:hover .all-content-small-main-button-wrapper{
  left: var(--button-height);
  right: 0;
}
.all-content-small-main-button {
  position: relative;
  width: calc(var(--button-width) - var(--button-height));
  min-width: calc(var(--button-width) - var(--button-height));
  height: var(--button-height);
  min-height: var(--button-height);
  border-radius: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
} 
.all-content-small-button-rectangle {
  width: calc(var(--button-width) - var(--button-height));
  min-width: calc(var(--button-width) - var(--button-height));
  height: var(--button-height);
  min-height: var(--button-height);
  background-color: var(--background-color-blue);
  border-radius: var(--button-height);
}
.all-content-small-button-text {
  position: absolute;
  font-size: var(--xs-font-size);
  font-weight: 500;
  color: var(--text-color-black);
}
/* LARGE BUTTON */
.all-content-large-button-wrapper {
  position: relative;
  width: var(--large-button-width);
  min-width: var(--large-button-width);
  height: var(--button-height);
  min-height: var(--button-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-content-large-button-wrapper:hover {

}
.all-content-large-button-circle-left {
  position: relative;
  width: 0;
  min-width: 0;
  height: 0;
  min-height: 0;
  background-color: var(--background-color-blue);
  border-radius: 100%;
  transition: all 0.5s;
}
.all-content-large-button-wrapper:hover .all-content-large-button-circle-left {
  width: var(--button-height);
  min-width: var(--button-height);
  height: var(--button-height);
  min-height: var(--button-height);
}
.all-content-large-button-circle-right {
  position: relative;
  width: var(--button-height);
  min-width: var(--button-height);
  height: var(--button-height);
  min-height: var(--button-height);
  background-color: var(--background-color-blue);
  border-radius: 100%;
  transition: all 0.5s;
}
.all-content-large-button-wrapper:hover .all-content-large-button-circle-right {
  width: 0;
  min-width: 0;
  height: 0;
  min-height: 0;
}
.all-content-large-button-circle-icon-left {
  position: absolute;
  top: calc(var(--button-height) / 4);
  right: calc(var(--button-height) / 3);
  height: 0;
  min-height: 0;
  width: 0;
  min-width: 0;
  fill: none;
  stroke: #0E0E0E;
}
.all-content-large-button-wrapper:hover .all-content-large-button-circle-icon-left {
  height: calc(var(--button-height) / 2);
  min-height: calc(var(--button-height) / 2);
  width: auto;
  min-width: auto;
}
.all-content-large-button-circle-icon-right {
  position: absolute;
  top: calc(var(--button-height) / 4);
  right: calc(var(--button-height) / 3);
  height: calc(var(--button-height) / 2);
  min-height: calc(var(--button-height) / 2);
  width: auto;
  min-width: auto;
  fill: none;
  stroke: #0E0E0E;
}
.all-content-large-button-wrapper:hover .all-content-large-button-circle-icon-right {
    height: 0;
    min-height: 0;
    width: 0;
    min-width: 0;
}
.all-content-large-main-button-wrapper {
  position: absolute;
  left: 0;
  width: calc(var(--large-button-width) - var(--button-height));
  min-width: calc(var(--large-button-width) - var(--button-height));
  height: var(--button-height);
  min-height: var(--button-height);
  transition: all 0.5s;
}
.all-content-large-button-wrapper:hover .all-content-large-main-button-wrapper {
  left: var(--button-height);
}
.all-content-large-main-button {
  position: relative;
  width: calc(var(--large-button-width) - var(--button-height));
  min-width: calc(var(--large-button-width) - var(--button-height));
  height: var(--button-height);
  min-height: var(--button-height);
  border-radius: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
} 
.all-content-large-button-rectangle {
  width: calc(var(--large-button-width) - var(--button-height));
  min-width: calc(var(--large-button-width) - var(--button-height));
  height: var(--button-height);
  min-height: var(--button-height);
  background-color: var(--background-color-blue);
  border-radius: var(--button-height);
}
.all-content-large-button-text {
  position: absolute;
  font-size: var(--xs-font-size);
  font-weight: 500;
  color: var(--text-color-black);
}

.all-content-whyCryptist-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.all-content-whyCryptist-text-wrapper{
  height: var(--whyCryptist-text-wrapper-height);
  min-height: var(--whyCryptist-text-wrapper-height);
  width: var(--whyCryptist-text-wrapper-width);
  min-width: var(--whyCryptist-text-wrapper-width);
  z-index: 2;
  padding: calc(1.5 * var(--content-padding)) var(--header-padding);
}
.all-content-whyCryptist-title {
  font-size: var(--md-font-size);
  font-weight: 700;
  padding-bottom: var(--xl-2-text-gap);
}
.all-content-whyCryptist-paragraph {
  font-size: var(--md-2-font-size);
  font-weight: 700;
  color: var(--text-color-two);
  padding-bottom: var(--md-text-gap);
}
.all-content-whyCryptist-subtext {
  font-size: var(--sm-font-size);
  padding-bottom: var(--md-text-gap);
}
.all-content-whyCryptist-image-wrapper {
  position: relative;
  height: var(--whyCryptist-image-wrapper-height);
  min-height: var(--whyCryptist-image-wrapper-height);
  width: var(--whyCryptist-image-wrapper-width);
  min-width: var(--whyCryptist-image-wrapper-width);
  display: flex;
  flex-direction: column;
}
.all-content-whyCryptist-circle {
  position: absolute;
  bottom: 0;
  height: var(--whyCryptist-circle-height);
  min-height: var(--whyCryptist-circle-height);
  width: var(--whyCryptist-circle-height);
  min-width: var(--whyCryptist-circle-height);
  background-image: linear-gradient(300deg, #D9D9D9 0%, #6FDBEE 100%);
  border-radius: 100%;
}
.all-content-whyCryptist-vector-wrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  bottom: 0;
  right: 0;
}
.all-content-whyCryptist-vector-left {
  height: auto;
  min-height: auto;
  width: 60%;
  min-width: 60%;
  filter: drop-shadow(2px 0 20px rgba(111, 219, 238, 0.1));
}
.all-content-whyCryptist-vector-right {
  height: auto;
  min-height: auto;
  width: 40%;
  min-width: 40%;
}


.all-content-pastEvent-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-content-pastEvent-text-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: var(--pastEvent-text-wrapper-width);
  min-width: var(--pastEvent-text-wrapper-width);
  z-index: 2;
  padding: calc(2 * var(--content-padding)) var(--header-padding);
}
.all-content-pastEvent-text-1 {
  font-size: var(--md-font-size);
  font-weight: 500;
  padding-bottom: var(--xl-2-text-gap);
}
.all-content-pastEvent-text-1-blue {
  color: var(--text-color-two);
}
.all-content-pastEvent-text-2 {
  font-size: var(--xl-font-size);
  font-weight: 700;
  padding-bottom: var(--sm-text-gap);
}
.all-content-pastEvent-text-3 {
  font-size: var(--xs-font-size);
  padding-bottom: var(--md-text-gap);
}
.all-content-pastEvent-text-3-bold {
  font-weight: 700;
}
.all-content-pastEvent-moda-palas-image {
  padding-top: var(--xl-2-text-gap);
  padding-bottom: var(--md-text-gap);
}
.all-content-pastEvent-image-wrapper {
  position: relative;  
  height: 100%;
  min-height: 100%;
  width: var(--pastEvent-image-wrapper-width);
  min-width: var(--pastEvent-image-wrapper-width);
  display: flex;
}
.all-content-pastEvent-spiral-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: 0;
} 
.all-content-pastEvent-spiral {
  width: var(--pastEvent-spiral-width); 
  height: var(--pastEvent-spiral-width);
  margin: 0 calc(2 * var(--content-padding));
}
.all-content-pastEvent-slide-container {
  position: absolute;
  top: var(--pastEvent-slide-container-top);
  left: var(--pastEvent-slide-container-left);
  height: var(--pastEvent-slide-container-height);
  min-height: var(--pastEvent-slide-container-height);
  width: var(--pastEvent-slide-container-width);
  min-width: var(--pastEvent-slide-container-width);
  flex: 1;
}
.all-content-pastEvent-slide-image-wrapper {
  position: relative;
  height: var(--pastEvent-slide-container-height);
  min-height: var(--pastEvent-slide-container-height);
  width: var(--pastEvent-slide-container-width);
  min-width: var(--pastEvent-slide-container-width);
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
} 
.all-content-pastEvent-slide-image {
  position: absolute;
  top: 0;
  display: block;
  width: var(--pastEvent-slide-container-width);
  min-width: var(--pastEvent-slide-container-width);
  height: auto;
  min-height: auto;
  object-fit: cover;
  opacity: 0;
}
.all-content-pastEvent-slide-image[data-active] {
  opacity: 1;
  z-index: 1;
  width: var(--pastEvent-slide-container-width);
  min-width: var(--pastEvent-slide-container-width);
  height: auto;
  min-height: auto;
}
.slide-image {
  width: var(--pastEvent-slide-container-width);
  min-width: var(--pastEvent-slide-container-width);
  height: auto;
  min-height: auto;
  object-fit: cover;

}
.all-content-pastEvent-slide-button-wrapper {
  position: absolute;
  width: var(--pastEvent-slide-button-height);
  height: var(--pastEvent-slide-button-height);
  top: calc((var(--pastEvent-slide-container-height) / 2) - 20px);
  left: var(--pastEvent-slide-container-width);
  border-radius: 100%;
  background: linear-gradient(15deg, rgba(217, 217, 217, 0.5) 0%, rgba(103, 252, 230,0.5) 100%);
  backdrop-filter: blur(20px);
  cursor: pointer;
  outline: none;
  border: none;
}
.all-content-pastEvent-slide-button-next {
  width: calc(var(--pastEvent-slide-button-height) / 2);
  height: calc(var(--pastEvent-slide-button-height) / 2);
  stroke: white;
  fill: none;
}

.all-content-speakers-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
}

.all-content-speakers-title {
  font-size: var(--xl-font-size);
  font-weight: 700;
  padding-top: var(--xl-2-text-gap);
  padding-bottom: var(--xl-2-text-gap);
  padding-left: calc(2 * var(--header-padding));
}
.all-content-speakers-card-wrapper {
  width: var(--speakers-card-container-width);
  min-width: var(--speakers-card-container-width);
  height: fit-content;
  min-height: fit-content;
}

.all-content-speakers-card-container {
  width: var(--speakers-card-container-width);
  min-width: var(--speakers-card-container-width);
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  padding: 0 calc(2 * var(--header-padding));
  padding-bottom: var(--content-padding);
}
.all-content-speakers-card {
  position: relative;
  width: var(--speakers-card-width);
  height: var(--speakers-card-width);
  display: flex;
  flex-direction: column;
  background-color: var(--box-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}
.all-content-speakers-card-glow {
  display: block;
  border-radius: 10px;
  z-index: 1;
}
.all-content-speakers-card-image {
  position: absolute;
  height: 65%;
  width: auto;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.all-content-speakers-card-info-wrap {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 2;
}
.all-content-speakers-card-name-company {
  font-size: var(--xs-font-size);
  font-weight: 700;
}
.purple{
  color: var(--text-color-purple);
}
.turquoise{
  color: var(--text-color-turquoise);
}
.green{
  color: var(--text-color-green);
}
.orange{
  color: var(--text-color-orange);
}
.red {
  color: var(--text-color-red);
}
.light-blue {
  color: var(--text-color-light-blue);
}
.blue {
  color: var(--text-color-blue);
}
.all-content-speakers-card-title {
  font-size: var(--sm-2-font-size);
  font-weight: 900;
  padding-top: var(--sm-text-gap);
}
.all-content-speakers-card-socials
.all-content-speakers-card-linkedin

.all-content-sponsors-wrapper {
  height: fit-content; /*calc*/
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;

}

.all-content-sponsors-upper-wrapper {
  width: 100%;
  min-width: 100%;
  height: 20%;
  min-height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--header-padding);
}
.all-content-sponsors-text-wrapper {
  display: flex;
  flex-direction: column;
  width: var(--sponsors-text-wrapper-width);
  min-width: var(--sponsors-text-wrapper-width);
  height: fit-content;
  min-height: fit-content;
  padding: var(--xl-text-gap) 0;
}
p.all-content-sponsors-text-1 {
  font-size: var(--md-2-font-size);
  font-weight: 700;
}
p.all-content-sponsors-text-2 {
  font-size: var(--md-2-font-size);
  font-weight: 700;
  padding-bottom: var(--xl-text-gap);
}
.all-content-sponsors-button-wrapper {
  display: flex;
  align-items: center;
  row-gap: var(--md-text-gap);
}
p.all-content-sponsors-text-3 {
  font-size: var(--sm-font-size);
  padding-left: var(--md-text-gap);
  padding-right: var(--md-text-gap);

}
.all-content-sponsors-image-wrapper {
  width: 40%;
  min-width: 40%;
  height: auto;
  min-height: auto;
}
.all-content-sponsors-image {
  width: var(--sponsors-image-width);
  min-width: var(--sponsors-image-width);
  height: auto;
  min-height: auto;
}
.all-content-sponsors-title {
  font-size: var(--md-2-font-size);
  font-weight: 700;
  padding: var(--md-text-gap) calc(3 * var(--header-padding));
}
.all-content-sponsors-card-wrapper {
  width: var(--sponsors-card-wrapper-width);
  min-width: var(--sponsors-card-wrapper-width);
  height: fit-content;
  min-height: fit-content;
} 
.all-content-sponsors-card-container {
  width: var(--sponsors-card-wrapper-width);
  min-width: var(--sponsors-card-wrapper-width);
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  /*justify-content: space-around;*/
  padding: var(--xl-2-text-gap) calc(3 * var(--header-padding));
} 
.all-content-sponsors-card {
  height: var(--sponsors-card-width);
  width: var(--sponsors-card-width);
  background-color: var(--box-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  position: relative;
}
.all-content-sponsors-card-image {
  position: absolute;
  width: 50%;
  height: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.all-content-sponsors-info-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: var(--md-text-gap);
  right: var(--md-text-gap);
  left: var(--md-text-gap);
} 
.all-content-sponsors-card-project-title {
  font-size: var(--xs-font-size);
}
.all-content-sponsors-card-socials {
  height: 10%;
  width: auto;
  display: flex;
  column-gap: 5px;
}
.all-content-sponsors-card-linkedin {
  height: 15px;
  width: auto;
}
.all-content-sponsors-card-twitter {
  height: 15px;
  width: auto;
}

.all-content-schedule-wrapper {
  position: relative;
  height: 100vh;
  min-height:100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  align-items: end;
  padding-bottom: var(--content-padding);
  overflow: hidden;
}

.all-content-schedule-text-vector-wrapper {
  position: relative;
  height: var(--schedule-text-vector-wrapper-height);
  min-height: var(--schedule-text-vector-wrapper-height);
  width: var(--schedule-text-vector-wrapper-width);
  min-width: var(--schedule-text-vector-wrapper-width);
  object-fit: cover;
  inset: 0;
  align-items: center;
}
.all-content-schedule-vector-wrapper {
  height: 110vh;
  min-height: 110vh;
  width: auto;
  min-width: auto;
  margin-left: -200px;
}
.all-content-schedule-text-wrapper {
  position: absolute;
  width: var(--schedule-text-wrapper-width);
  min-width: var(--schedule-text-wrapper-width);
  height: auto;
  min-height: auto;
  top: calc(2 * var(--header-height));
  z-index: 2;
  padding-left: calc(2 * var(--header-padding));
}
.all-content-schedule-text-1 {
  font-size: var(--xl-2-font-size);
  padding-bottom: var(--xl-text-gap);
}
.all-content-schedule-text-2 {
  font-size: var(--sm-font-size);
}
.all-content-schedule-timeline-container {
  /*position: absolute;
  right: calc(1 * var(--header-padding));
  bottom: calc(1 * var(--content-padding));*/
  display: flex;
  flex-direction: column;
  column-gap: var(--md-text-gap);
  height: var(--schedule-timeline-container-height);
  min-height: var(--schedule-timeline-container-height);
  width: var(--schedule-timeline-container-width);
  min-width: var(--schedule-timeline-container-width);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: var(--xl-2-text-gap);
  z-index: 2;
  margin-left: calc(var(--xl-2-text-gap) * -1);
}
.all-content-schedule-timeline-container::-webkit-scrollbar {
  width: 3px;
  min-width: 3px;
  background: var(--border-color);
}
.all-content-schedule-timeline-container::-webkit-scrollbar-thumb {
  background: var(--background-color-blue);
  border-radius: 5px;
}
.all-content-schedule-timeline-line-container {
  display: flex;
  width: 100%;
  height: 20%;
  font-size: var(--sm-font-size);
  padding-left: var(--header-padding);
  padding-right: var(--content-padding);
}
.all-content-schedule-timeline-time {
  position: relative;
  width: 30%;
  height: 100%;
  border-right: 2px solid var(--text-color-two);
}
.all-content-schedule-timeline-dot{
  position: absolute;
  right: -8px;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #6FDBEE;
  background-color: var(--background-color);
}
.all-content-schedule-timeline-event {
  width: 70%;
  height: 100%;
  padding-left: var(--xl-text-gap);
}
.all-content-schedule-timeline-event-title {
  font-size: var(--xs-font-size);
  font-weight: 600;
  padding-bottom: var(--md-text-gap);
}
.all-content-schedule-timeline-event-text {
  font-size: var(--xs-font-size);
  padding-bottom: var(--xl-2-text-gap);
}

.all-content-saltGalata-wrapper {
  width: 100vw;
  min-width: 100vw;
  height: calc(100vh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(3 * var(--content-padding)) var(--header-padding);
}
.all-content-saltGalata-text-wrapper {
  width: var(--saltGalata-text-wrapper-width);
  min-width: var(--saltGalata-text-wrapper-width);
  height: var(--saltGalata-text-wrapper-height);
  min-height: var(--saltGalata-text-wrapper-height);
}
.all-content-saltGalata-text-1 {
  font-size: var(--xl-2-font-size);
  font-weight: 700;
  padding-bottom: var(--xl-2-text-gap);
}
.all-content-saltGalata-text-2 {
  color: var(--text-color);
  font-size: var(--sm-font-size);
  padding-bottom: var(--xl-text-gap);
}
.all-content-saltGalata-location-wrapper {
  display: flex;
}
.all-content-saltGalata-location-icon {
  height: 24px;
}
.all-content-saltGalata-slide-wrapper {
  position: relative;
  width: var(--saltGalata-slide-wrapper-width);
  min-width: var(--saltGalata-slide-wrapper-width);
  height: var(--saltGalata-slide-wrapper-height);
  min-height: var(--saltGalata-slide-wrapper-height);
}
.all-content-saltGalata-slide-image-wrapper {
  position: relative;
  width: 40vw;
  min-width: 40vw;
  height: 30vw;
  min-height: 30vw;
  margin: 0;
  padding: 0;
  list-style: none;
} 
.all-content-saltGalata-slide-image {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.all-content-saltGalata-slide-image[data-active] {
  opacity: 1;
  z-index: 1;
}                                                                                                                 
.all-content-saltGalata-slide-button-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(15vw - 20px);
  left: 40vw;
  border-radius: 100%;
  background: linear-gradient(15deg, rgba(217, 217, 217, 0.5) 0%, rgba(103, 252, 230,0.5) 100%);
  backdrop-filter: blur(20px);
  cursor: pointer;
  outline: none;
  border: none;
}
.all-content-saltGalata-slide-button-next {
  width: 20px;
  height: 20px;
  stroke: white;
  fill: none;
}

.all-footer {
  background-color: var(--background-color-two);
  width: 100vw;
  min-width: 100vw;
  height: 80vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: var(--content-padding);
  /*padding-top: var(--content-padding);*/
}

.all-footer-upper {
  width: 100%;
  min-width: 100%;
  height: 30vh;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--content-padding) calc(3 * var(--header-padding)) ;
}
.all-footer-upper-text-1 {
  font-size: var(--md-2-font-size);
  text-align: center;
  background: linear-gradient(154deg, #D9D9D9 6.04%, #67FCE6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.all-footer-upper-text-2 {
  font-size: var(--md-2-font-size);
  text-align: center;
  background: linear-gradient(154deg, #D9D9D9 6.04%, #67FCE6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: var(--xl-text-gap);
}
.all-footer-upper-button 
.all-footer-bottom-wrapper {
  width: 100%;
  min-width: 100%;
  height: 50vh;
  min-height: 50vh;
  }
.all-footer-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--content-padding) calc(2 * var(--header-padding));
}
.all-footer-bottom-left {
  width: var(--footer-bottom-left-width);
  min-width: var(--footer-bottom-left-width);
  height: var(--footer-bottom-left-height);
  min-height: var(--footer-bottom-left-height);
}
.all-footer-bottom-left-text-1 {
  font-size: var(--xl-font-size);
  font-weight: 700;
  padding-bottom: var(--xl-text-gap);
}
.all-footer-bottom-left-line-shape {
  width: 150px;
  height: 2px;
  background: linear-gradient(90deg, #D9D9D9 0%, #67FCE6 100%);
}
.all-footer-bottom-left-text-2 {
  font-size: var(--sm-font-size);
  padding-top: var(--md-text-gap);
}
.all-footer-bottom-left-subscription

.all-footer-bottom-right {
  width: var(--footer-bottom-right-width);
  min-width: var(--footer-bottom-right-width);
  height: var(--footer-bottom-right-height);
  min-height: var(--footer-bottom-right-height);
}
.all-footer-bottom-right-container {
  display: flex;
  flex-direction: column;
}
.all-footer-bottom-right-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.all-footer-bottom-right-line-title {
  width: 50%;
  min-width: 50%;
  height: 100%;
  min-height: 100%;
  font-size: var(--md-font-size);
  background: linear-gradient(15deg, #D9D9D9 0%, #67FCE6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: var(--xl-text-gap);
}
.all-footer-bottom-right-line-text {
  width: 50%;
  min-width: 50%;
  height: 100%;
  min-height: 100%;
  font-size: var(--sm-font-size);
  text-decoration: none;
  color: var(--text-color);
  padding-bottom: var(--xl-text-gap);
}

.all-footer-info {
  width: 100%;
  min-width: 100%;
  height: 15vh;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
}

.all-footer-info-mail-clipboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding: var(--xl-text-gap) var(--header-padding);
}
.all-footer-info-mail-clipboard-text {
  font-size: var(--xs-font-size);
  color: var(--placeholder-color);

  padding-right: 5px;
}
.all-footer-info-mail-clipboard-icon {
  width: auto;
  min-width: auto;
  height: 15px;
  min-height: 15px;
}
.all-footer-info-line {
  width: calc(100vw - 2 * var(--header-padding));
  min-width: calc(100vw - 2 * var(--header-padding));
  height: 1px;
  min-height: 1px;
  background: #2D2D2F;
  margin: 0 var(--header-padding);

}
.all-footer-info-text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--xl-2-text-gap) var(--header-padding);
}
.all-footer-info-text {
  font-size: var(--xs-font-size);
}
@media only screen and (max-width: 1200px) {
  :root {
    --header-padding: 80px;
    --content-padding:70px;

    --xl-4-font-size: 60px;
    --xl-3-font-size: 56px;
    --xl-2-font-size: 48px;
    --xl-font-size: 32px; 
    --md-2-font-size: 24px;
    --md-font-size: 20px;
    --sm-2-font-size: 16px;
    --sm-font-size: 14px;
    --xs-font-size: 12px;

    --zkEvent-text-wrapper-width: 70vw;
    --sponsors-card-width: calc((100vw - 4 * var(--header-padding) - 3 * var(--box-padding)) / 4);

  }
  .all-content-sponsors-title {
    padding: var(--md-text-gap) calc(2 * var(--header-padding));
  }
  .all-content-sponsors-card-container {
    padding: var(--xl-2-text-gap) calc(2 * var(--header-padding));
  }
}
@media only screen and (max-width: 1100px) {

}
@media only screen and (max-width: 1000px) {
  :root {
    --header-padding: 60px;
    --content-padding:60px;

    --pastEvent-text-wrapper-width: 100vw;
    --pastEvent-image-wrapper-width: 100vw;
    --pastEvent-slide-container-width: 50vw;
    --pastEvent-slide-container-height: 35vw;
    --pastEvent-slide-container-top: var(--content-padding);
    --pastEvent-slide-container-left: calc((100vw - var(--pastEvent-slide-container-width)) / 2);
    --pastEvent-slide-button-height: 30px;
    --speakers-card-container-width: 350vw;
    --speakers-card-width: calc((var(--speakers-card-container-width) - 2 * var(--header-padding) - 13 * var(--box-padding)) / 14);
    --sponsors-image-width: 0;
    --sponsors-card-wrapper-width: 150vw;
    --sponsors-card-width: calc((var(--sponsors-card-wrapper-width) - 2 * var(--header-padding) - 4 * var(--box-padding)) / 7);
    --footer-bottom-left-width: 40vw;
    --footer-bottom-right-width: 60vw;
  }
  .all-content-zkEvent-text-wrapper {
    padding: 0 var(--header-padding);
    padding-top: 30vh;
  }
  .all-content-pastEvent-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .all-content-pastEvent-text-wrapper {
    padding: 0 var(--header-padding);
    padding-top: var(--content-padding);
  }
  .all-content-pastEvent-moda-palas-image {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  .all-content-pastEvent-spiral-wrapper {
    position: absolute;
    top: -10vw;
    left: 40vw;
    margin: 0;
  } 

  .all-content-speakers-title {
    padding-left: var(--header-padding);
    padding-top: var(--xl-2-text-gap);
  }
  .all-content-speakers-card-wrapper {
    width: 100vw;
    min-width: 100vw;
    height: fit-content;
    min-height: fit-content;
    overflow-x: scroll;
    max-width: 100%;
    margin-bottom: var(--content-padding);
  }
  .all-content-speakers-card-wrapper::-webkit-scrollbar {
    display: none;
  }
  .all-content-speakers-card-container {
    flex-wrap: nowrap;
    padding: 0 var(--header-padding);
  }

  .all-content-sponsors-title {
    padding: var(--sm-text-gap) var(--header-padding);
  }

  .all-content-sponsors-card-wrapper {
    width: 100vw;
    min-width: 100vw;
    height: fit-content;
    min-height: fit-content;
    overflow-x: scroll;
    max-width: 100%;
    margin-bottom: var(--content-padding);
  } 
  .all-content-sponsors-card-wrapper::-webkit-scrollbar {
    display: none;
  }
  .all-content-sponsors-card-container {
    display: flex;
    flex-wrap: nowrap;
    padding: var(--xl-text-gap) var(--header-padding);
  }

  .all-footer-upper {
      padding: var(--content-padding)  var(--header-padding);
  }
  .all-footer-bottom-container {
    padding: var(--content-padding) var(--header-padding);
  
  }
}
@media only screen and (max-width: 860px) {
  :root {
    --zkEvent-text-wrapper-width: 100vw;
    --pastEvent-spiral-width: 90vw;
    --speakers-card-container-width: 400vw;
    --sponsors-card-wrapper-width: 200vw;
    --schedule-text-vector-wrapper-width: 30vw;
    --schedule-text-vector-wrapper-height: 100vh;
    --schedule-timeline-container-width:70vw;
    --schedule-timeline-container-height:50vh;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    --xl-4-font-size: 54px;
    --xl-3-font-size: 52px;
    --xl-2-font-size: 44px;
    --xl-font-size: 28px; 
    --md-2-font-size: 22px;
    --md-font-size: 18px;
    --sm-2-font-size: 15px;
    --sm-font-size: 13px;
    --xs-font-size: 12px;

    --pastEvent-slide-container-width: 60vw;
    --pastEvent-slide-container-height: 45vw;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --header-padding: 40px;

    --xl-4-font-size: 50px;
    --xl-3-font-size: 48px;
    --xl-2-font-size: 40px;
    --xl-font-size: 26px; 
    --md-2-font-size: 20px;
    --md-font-size: 16px;
    --sm-2-font-size: 15px;
    --sm-font-size: 13px;
    --xs-font-size: 12px;

    --speakers-card-container-width: 500vw;
    --sponsors-card-wrapper-width: 250vw;
  }


}
@media only screen and (max-width: 670px) {
  :root {
    --speakers-card-container-width: 550vw;
    --sponsors-card-wrapper-width: 275vw;
  }
}
@media only screen and (max-width: 640px) {
  :root {
    --speakers-card-container-width: 600vw;
    --sponsors-card-wrapper-width: 300vw;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --header-padding: 40px;

    --whyCryptist-text-wrapper-width: 100vw;
    --whyCryptist-text-wrapper-height: 40vh;
    --whyCryptist-image-wrapper-width: 100vw;
    --whyCryptist-image-wrapper-height: 60vh;
    --whyCryptist-circle-height: 85vw;
    --speakers-card-container-width: 650vw;
    --sponsors-card-wrapper-width: 300vw;
    --schedule-text-vector-wrapper-width: 100vw;
    --schedule-text-vector-wrapper-height: 40vh;
    --schedule-text-wrapper-width: 100vw;
    --schedule-timeline-container-width:100vw;
    --schedule-timeline-container-height:60vh;
    --saltGalata-text-wrapper-width: 100vw;
    --saltGalata-text-wrapper-height: 40vh;
    --saltGalata-slide-wrapper-width: 100vw;
    --saltGalata-slide-wrapper-height: fit-content;
    --footer-bottom-left-width: 100%;
    --footer-bottom-left-height: 100%;
    --footer-bottom-right-height: 0;
    --footer-bottom-right-width: 0;
  }
  .all-header-pages-wrapper {
    display: none !important;
  }
  .all-header-mobile-menu-button-icon {
    display: flex !important;
  }
  .all-content-whyCryptist-wrapper {
    flex-direction: column;
  }
  .all-content-whyCryptist-circle {
    position: absolute;
    left: 40vw;
  }
  .all-content-schedule-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--content-padding);
    overflow: hidden;
  }
  .all-content-schedule-text-wrapper {
    padding: 0 var(--header-padding);
    bottom: var(--header-height);
  }
  .all-content-schedule-timeline-container {
    border-radius: 16px;
    background: rgba(217, 217, 217, 0.10);
    backdrop-filter: blur(27.5px);
    overflow: auto;
    padding-top: var(--xl-2-text-gap);
    width: 95vw;
    min-width: 95vw;
    margin-left: unset;
  }
  .all-content-schedule-timeline-container::-webkit-scrollbar {
    display: none;
  }
  .all-content-saltGalata-wrapper {
    flex-direction: column;
    padding: 0;
  }
  .all-content-saltGalata-text-wrapper {
    padding: calc(2 * var(--content-padding)) var(--header-padding);
  }
  .all-content-saltGalata-slide-wrapper {
    padding: var(--content-padding) var(--header-padding);
  }
  .all-content-saltGalata-slide-button-wrapper {
    opacity: 0;
  }
  .all-footer-bottom-container {
    flex-direction: column;
  }
  .all-footer-bottom-right {
    padding-right: var(--header-padding);
  }
  .all-footer-bottom-right {
    opacity: 0;
  }
}  
@media only screen and (max-width: 500px) {
  :root {
    --header-padding: 40px;
    --speakers-card-container-width: 675vw;
    --sponsors-card-wrapper-width: 350vw;

    --large-button-width: 240px;
  }
}
@media only screen and (max-width: 400px) {
  :root {
    --header-padding: 30px;
    --speakers-card-container-width: 700vw;
    --sponsors-card-wrapper-width: 375vw;
  }
  .all-content-sponsors-button-wrapper {
    flex-direction: column;
  }
  .all-content-sponsors-title {
    margin-top: var(--xl-text-gap);
  }
}