@import "tailwindcss";

:root {
  font-family: "Geomisans", sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #11191D;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Geomisans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/Geomisans.ttf') format('truetype');
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}