@import "tailwindcss";

:root {
  font-family: "Geomisans", sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #11191D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Geomisans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/Geomisans.woff2') format('woff2'),
    url('/Geomisans.woff') format('woff'),
    url('/Geomisans.ttf') format('truetype');
}